* {
  font-family: "Segoe UI", Calibri, Arial, Helvetica, sans-serif;
}
body {
  background-color: #0098DA;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI Light", "Calibri Light";
  font-weight: normal;
}
a {
  color: #0081B9;
  text-decoration: none;
}
a:hover {
  color: #0098DA;
}
img {max-width: 100%}
.dimmer {
  font-family: "Segoe UI Light", "Calibri Light";
  font-size: 2em;
  color: #A9E5FF;
  margin: 2em 0;
}
.main-container, .gw {
  max-width: 800px;
  margin: 0 auto;
}
.site-header {
  margin: 5% auto;
}
.site-header img {
  max-width: 300px;
  margin-top: 1.5em;
  float: left;
}
.site-nav {
  list-style: none;
  color: white;
  display: inline-block;
  padding: 0;
  border-radius: .5em;
  overflow: hidden;
  float: right;

}
.site-nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #0098DA;
  background-color: rgba(46,85,163,.4);
}
.site-nav li:hover {
  background-color: rgba(46,85,163,.8);
}
.site-nav li a {
  color: white;
  color: rgba(255,255,255,.6);
  padding: .5em 1em;
  display: inline-block;
}
.clear {
  display: block;
  float: none;
  clear: both;
}

/* Site Menu */

.site-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00AFEF;
  position : fixed;
  top: 0;
  z-index: 999;
  width : 100%;
  box-shadow: 0 1px 2px rgba(46,85,163,.4);
}
.site-menu ul {
  list-style: none;
  padding: 0;
}
.site-menu ul li {
  float: left;
}
.site-menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.site-menu ul li a:hover {
  background-color: #0098DA;
}
.site-menu ul li a.active {
  background-color: #0098DA;
}

/* Blocks */

.callout {
  background-color: #00AFEF;
  padding: 1em 2em;
  color: white;
  border-radius: 3px;
  position: relative;
}
.callout.right {
  margin: 2em 2em 2em 3em;
  box-shadow: 1px 1px 1px rgba(46,85,163,.4);
}
.callout.left {
  margin: 2em 3em 2em 2em;
  box-shadow: -1px 1px 1px rgba(46,85,163,.4);
}
.callout:before {
  background-color: #00AFEF;
  content: "";
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 1.9em;
  transform: rotate(45deg);
  z-index: -1;
}
.callout.right:before {
  left: -.75em;
}
.callout.left:before {
  right: -.75em;
}

/* Site Footer */

.site-footer {
  background-color: white;
  margin-top: 5%;
}
.site-footer ul {
  list-style: none;
  padding: 1em 0;
}
.site-footer ul li {
  display: inline;
  margin-right: 2em;
}
.site-footer ul li:last-child {
  margin-right: 0;
}
.copyright {
  background-color: black;
  color: white;
  padding: 1em 0;
  text-align: center;
}

/* Rewrite */

.pure-form input[type="text"] {
  background-clip: padding-box;
  border-color: rgba(0,0,0,.2);
}
