* {
  font-family: "Segoe UI", Calibri, Arial, Helvetica, sans-serif;
}
body {
  background-color: #6DA72E;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI Light", "Calibri Light";
  font-weight: normal;
}
a {
  color: #0081B9;
  text-decoration: none;
}
a:hover {
  color: #0098DA;
}
img {max-width: 100%}
.dimmer {
  font-family: "Segoe UI Light", "Calibri Light";
  font-size: 2em;
  color: #BFE88E;
  margin: 2em 0;
}
.dimmer strong {
  color: white;
  font-weight: normal;
}
.main-container, .gw {
  max-width: 800px;
  margin: 0 auto;
}
.site-header {
  background: #111 url("../images/bg1.jpg") no-repeat fixed center center;
  background-size: cover;
  padding: 5% 0;
  text-align: center;
}
.site-header .logo {
  max-width: 300px;
}
.site-header .slogan {
  color: white;
  text-shadow: 0 1px 2px black;
  font-style: italic;
}
.site-header > div:first-child {
  margin-bottom: 5%;
}
.site-header .callout {
  background-color: black;
  text-align: left;
}


/* Misc */

.clear {
  display: block;
  float: none;
  clear: both;
}

.block-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}


/* Site Menu */

.site-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8BC34A;
  position : fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.site-menu .gw  {
  overflow: hidden;
}
.site-menu .left {
  float: left;
}
.site-menu .right {
  float: right;
}
.site-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-menu ul li {
  float: left;
}
.site-menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.site-menu ul li a:hover,
.site-menu ul li a.active {
  background-color: #6DA72E;
}


/* Blocks */

.callout {
  background-color: #8BC34A;
  padding: 1em 2em;
  color: white;
  border-radius: 3px;
  position: relative;
}
.callout.right {
  margin: 2em 2em 2em 3em;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.callout.left {
  margin: 2em 3em 2em 2em;
  box-shadow: -1px 1px 1px rgba(0,0,0,.2);
}
.callout:before {
  background-color: inherit;
  content: "";
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 1.9em;
  transform: rotate(45deg);
  z-index: -1;
}
.callout.right:before {
  left: -.75em;
}
.callout.left:before {
  right: -.75em;
}

.reg-form {
  margin: 5% auto;
}


/* Site Footer */

.site-footer {
  background-color: white;
  margin-top: 5%;
}
.site-footer ul {
  list-style: none;
  padding: 1em 0;
}
.site-footer ul li {
  display: inline;
  margin-right: 2em;
}
.site-footer ul li:last-child {
  margin-right: 0;
}
.copyright {
  background-color: black;
  color: white;
  padding: 1em 0;
  text-align: center;
}


/* Rewrite */

.pure-form input[type="text"],
.pure-form input[type="email"],
.pure-form input[type="password"] {
  background-clip: padding-box;
  border-color: rgba(0,0,0,.2);
}

.pure-form input[type="text"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="password"]:focus {
  border-color: rgba(0,0,0,.4);
}

.pure-form input[type="email"]:focus:invalid {
  border-color: #E9322D;
}

.pure-button {
  background-clip: padding-box;
  border: 1px solid rgba(255,255,255,.4);
}
